In [1]:
import pandas as pd 
import numpy as np

In [ ]:
data=pd.read_csv("./data/gemstone.csv")

In [8]:
data

,Unnamed: 0,carat,cut,color,clarity,depth,table,x,y,z,price
0,1,0.30,Ideal,E,SI1,62.1,58.0,4.27,4.29,2.66,499
1,2,0.33,Premium,G,IF,60.8,58.0,4.42,4.46,2.70,984
2,3,0.90,Very Good,E,VVS2,62.2,60.0,6.04,6.12,3.78,6289
3,4,0.42,Ideal,F,VS1,61.6,56.0,4.82,4.80,2.96,1082
4,5,0.31,Ideal,F,VVS1,60.4,59.0,4.35,4.43,2.65,779
...,...,...,...,...,...,...,...,...,...,...,...
26962,26963,1.11,Premium,G,SI1,62.3,58.0,6.61,6.52,4.09,5408
26963,26964,0.33,Ideal,H,IF,61.9,55.0,4.44,4.42,2.74,1114
26964,26965,0.51,Premium,E,VS2,61.7,58.0,5.12,5.15,3.17,1656
26965,26966,0.27,Very Good,F,VVS2,61.8,56.0,4.19,4.20,2.60,682
26966,26967,1.25,Premium,J,SI1,62.0,58.0,6.90,6.88,4.27,5166

In [11]:
data.drop(labels=["Unnamed: 0"], inplace=True, axis=1)

In [12]:
data.head()

   carat        cut color clarity  depth  table     x     y     z  price
0   0.30      Ideal     E     SI1   62.1   58.0  4.27  4.29  2.66    499
1   0.33    Premium     G      IF   60.8   58.0  4.42  4.46  2.70    984
2   0.90  Very Good     E    VVS2   62.2   60.0  6.04  6.12  3.78   6289
3   0.42      Ideal     F     VS1   61.6   56.0  4.82  4.80  2.96   1082
4   0.31      Ideal     F    VVS1   60.4   59.0  4.35  4.43  2.65    779

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26967 entries, 0 to 26966
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    26967 non-null  float64
 1   cut      26967 non-null  object
 2   color    26967 non-null  object
 3   clarity  26967 non-null  object
 4   depth    26270 non-null  float64
 5   table    26967 non-null  float64
 6   x        26967 non-null  float64
 7   y        26967 non-null  float64
 8   z        26967 non-null  float64
 9   price    26967 non-null  int64
dtypes: float64(6), int64(1), object(3)
memory usage: 2.1+ MB

In [14]:
data=data.dropna()

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 26270 entries, 0 to 26966
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    26270 non-null  float64
 1   cut      26270 non-null  object
 2   color    26270 non-null  object
 3   clarity  26270 non-null  object
 4   depth    26270 non-null  float64
 5   table    26270 non-null  float64
 6   x        26270 non-null  float64
 7   y        26270 non-null  float64
 8   z        26270 non-null  float64
 9   price    26270 non-null  int64
dtypes: float64(6), int64(1), object(3)
memory usage: 2.2+ MB

In [23]:
x=data.drop(labels=["price"],axis=1)

In [28]:
y=data[["price"]]

In [26]:
x

       carat        cut color clarity  depth  table     x     y     z
0       0.30      Ideal     E     SI1   62.1   58.0  4.27  4.29  2.66
1       0.33    Premium     G      IF   60.8   58.0  4.42  4.46  2.70
2       0.90  Very Good     E    VVS2   62.2   60.0  6.04  6.12  3.78
3       0.42      Ideal     F     VS1   61.6   56.0  4.82  4.80  2.96
4       0.31      Ideal     F    VVS1   60.4   59.0  4.35  4.43  2.65
...      ...        ...   ...     ...    ...    ...   ...   ...   ...
26962   1.11    Premium     G     SI1   62.3   58.0  6.61  6.52  4.09
26963   0.33      Ideal     H      IF   61.9   55.0  4.44  4.42  2.74
26964   0.51    Premium     E     VS2   61.7   58.0  5.12  5.15  3.17
26965   0.27  Very Good     F    VVS2   61.8   56.0  4.19  4.20  2.60
26966   1.25    Premium     J     SI1   62.0   58.0  6.90  6.88  4.27

[26270 rows x 9 columns]

In [29]:
y

       price
0        499
1        984
2       6289
3       1082
4        779
...      ...
26962   5408
26963   1114
26964   1656
26965    682
26966   5166

[26270 rows x 1 columns]

In [30]:
categorical_cols=x.select_dtypes(include='object').columns

In [31]:
neumerical_cols=x.select_dtypes(exclude='object').columns

In [32]:
neumerical_cols

Index(['carat', 'depth', 'table', 'x', 'y', 'z'], dtype='object')

In [33]:
x.select_dtypes(include='object')

             cut color clarity
0          Ideal     E     SI1
1        Premium     G      IF
2      Very Good     E    VVS2
3          Ideal     F     VS1
4          Ideal     F    VVS1
...          ...   ...     ...
26962    Premium     G     SI1
26963      Ideal     H      IF
26964    Premium     E     VS2
26965  Very Good     F    VVS2
26966    Premium     J     SI1

[26270 rows x 3 columns]

In [34]:
# Define the custom ranking for each ordinal variable
cut_categories = ['Fair', 'Good', 'Very Good','Premium','Ideal']
color_categories = ['D', 'E', 'F', 'G', 'H', 'I', 'J']
clarity_categories = ['I1','SI2','SI1','VS2','VS1','VVS2','VVS1','IF']

In [35]:
from sklearn.impute import SimpleImputer ## HAndling Missing Values
from sklearn.preprocessing import StandardScaler # HAndling Feature Scaling
from sklearn.preprocessing import OrdinalEncoder # Ordinal Encoding
## pipelines
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

In [40]:
num_pipeline=Pipeline(

steps=[
    ('imputer',SimpleImputer()),
    ('scaler',StandardScaler())
]



)

In [48]:
cat_pipeline=Pipeline(

steps=[
    ("imputer",SimpleImputer(strategy=("most_frequent"))),
    ("ordinalcoder",OrdinalEncoder(categories=[cut_categories,color_categories,clarity_categories]))


]


)

In [49]:
preprocessor=ColumnTransformer(
    [
    ('num_pipeline',num_pipeline,neumerical_cols),
    ("cat_pipeline",cat_pipeline,categorical_cols)

    ]



)

In [60]:
#train test split 
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test =train_test_split(x,y,test_size=0.30,random_state=10)

In [61]:
preprocessor.fit_transform(x_train)

array([[-1.02242135,  0.96224489, -1.55178134, ...,  2.        ,
         5.        ,  3.        ],
       [ 1.80607114,  0.53676487, -0.65294531, ...,  4.        ,
         6.        ,  2.        ],
       [-0.87466428, -0.1723685 , -1.59672314, ...,  4.        ,
         5.        ,  4.        ],
       ...,
       [ 1.48944885, -0.66876186,  0.24589073, ...,  3.        ,
         5.        ,  1.        ],
       [-0.95909689, -0.52693518,  0.69530874, ...,  3.        ,
         1.        ,  3.        ],
       [ 0.22295967,  0.3949382 ,  0.24589073, ...,  2.        ,
         2.        ,  3.        ]])

In [62]:
preprocessor.transform(x_test)

array([[ 1.21504286,  0.18219819,  0.69530874, ...,  2.        ,
         4.        ,  4.        ],
       [-0.98020504,  0.74950488,  0.24589073, ...,  3.        ,
         2.        ,  2.        ],
       [ 0.56069012, -0.7396752 , -0.20352729, ...,  4.        ,
         1.        ,  1.        ],
       ...,
       [-0.60025829, -0.45602185, -0.65294531, ...,  4.        ,
         0.        ,  3.        ],
       [-1.0435295 , -0.7396752 , -0.20352729, ...,  4.        ,
         1.        ,  4.        ],
       [-0.55804199, -0.45602185, -1.10236332, ...,  4.        ,
         4.        ,  2.        ]])

In [54]:
preprocessor.get_feature_names_out()

array(['num_pipeline__carat', 'num_pipeline__depth',
       'num_pipeline__table', 'num_pipeline__x', 'num_pipeline__y',
       'num_pipeline__z', 'cat_pipeline__cut', 'cat_pipeline__color',
       'cat_pipeline__clarity'], dtype=object)

In [63]:
x_train=pd.DataFrame(preprocessor.fit_transform(x_train),columns=preprocessor.get_feature_names_out())
x_test=pd.DataFrame(preprocessor.transform(x_test),columns=preprocessor.get_feature_names_out())

In [64]:
x_train

,num_pipeline__carat,num_pipeline__depth,num_pipeline__table,num_pipeline__x,num_pipeline__y,num_pipeline__z,cat_pipeline__cut,cat_pipeline__color,cat_pipeline__clarity
0,-1.022421,0.962245,-1.551781,-1.234591,-1.202052,-1.154210,2.0,5.0,3.0
1,1.806071,0.536765,-0.652945,1.666506,1.536972,1.721763,4.0,6.0,2.0
2,-0.874664,-0.172368,-1.596723,-0.948945,-0.871334,-0.924132,4.0,5.0,4.0
3,1.130610,0.678592,0.245891,1.104139,1.087534,1.218467,3.0,3.0,4.0
4,-1.022421,0.324025,0.695309,-1.270297,-1.193572,-1.226109,3.0,3.0,6.0
...,...,...,...,...,...,...,...,...,...
18384,0.222960,1.033158,1.144727,0.327538,0.332819,0.470715,1.0,6.0,2.0
18385,-0.705799,-0.385109,-0.652945,-0.672225,-0.616935,-0.694054,4.0,4.0,2.0
18386,1.489449,-0.668762,0.245891,1.443345,1.282573,1.290367,3.0,5.0,1.0
18387,-0.959097,-0.526935,0.695309,-1.109621,-1.032453,-1.139830,3.0,1.0,3.0
18388,0.222960,0.394938,0.245891,0.372170,0.366739,0.427575,2.0,2.0,3.0

In [65]:
x_test

,num_pipeline__carat,num_pipeline__depth,num_pipeline__table,num_pipeline__x,num_pipeline__y,num_pipeline__z,cat_pipeline__cut,cat_pipeline__color,cat_pipeline__clarity
0,1.215043,0.182198,0.695309,1.211257,1.180814,1.247227,2.0,4.0,4.0
1,-0.980205,0.749505,0.245891,-1.163180,-1.125732,-1.096690,3.0,2.0,2.0
2,0.560690,-0.739675,-0.203527,0.791714,0.731377,0.672033,4.0,1.0,1.0
3,-0.832448,0.536765,0.245891,-0.922165,-0.854374,-0.852233,3.0,1.0,4.0
4,-0.156987,-0.810589,2.043563,0.077597,0.036021,-0.032580,3.0,3.0,2.0
...,...,...,...,...,...,...,...,...,...
7876,-1.001313,0.040372,-0.203527,-1.225665,-1.159652,-1.211729,2.0,0.0,3.0
7877,-0.916881,0.749505,-0.203527,-1.073915,-0.998533,-0.981651,2.0,3.0,6.0
7878,-0.600258,-0.456022,-0.652945,-0.502622,-0.447336,-0.521496,4.0,0.0,3.0
7879,-1.043530,-0.739675,-0.203527,-1.216738,-1.202052,-1.298008,4.0,1.0,4.0
7880,-0.558042,-0.456022,-1.102363,-0.431210,-0.379497,-0.463976,4.0,4.0,2.0

In [ ]:
"""linear regression
ridge regression
lasso regression
elastic net"""

In [106]:

## Model Training
from sklearn.linear_model import LinearRegression,Lasso,Ridge,ElasticNet
from sklearn.metrics import r2_score,mean_absolute_error, mean_squared_error

In [118]:
def evaluate_model(true,predicted):
    mae=mean_absolute_error(true,predicted)
    mse=mean_squared_error(true,predicted)
    rmse=np.sqrt(mean_squared_error(true,predicted))
    r2_square=r2_score(true,predicted)
    return mae,rmse,r2_square

In [119]:
models={
    'LinearRegression':LinearRegression(),
    'Lasso':Lasso(),
    'Ridge':Ridge(),
    'ElasticNet':ElasticNet()

}

In [120]:
trained_model_list=[]
model_list=[]
r2_list=[]

In [121]:

list(models)

['LinearRegression', 'Lasso', 'Ridge', 'ElasticNet']

In [122]:
for i in range(len(list(models))):
    model=list(models.values())[i]
    print(model)

LinearRegression()
Lasso()
Ridge()
ElasticNet()

In [123]:
models.keys()

dict_keys(['LinearRegression', 'Lasso', 'Ridge', 'ElasticNet'])

In [124]:
models.values()

dict_values([LinearRegression(), Lasso(), Ridge(), ElasticNet()])

In [125]:
for i in range(len(list(models))):
    model=list(models.values())[i]
    model.fit(x_train,y_train)

    #Make Predictions
    y_pred=model.predict(x_test)

    #this is a validation(test) score
    mae, rmse, r2_square=evaluate_model(y_test,y_pred)

    print(list(models.keys())[i])
    model_list.append(list(models.keys())[i])

    print('Model Training Performance')
    print("RMSE:",rmse)
    print("MAE:",mae)
    print("R2 score",r2_square*100)

    r2_list.append(r2_square)
    
    print('='*35)
    print('\n')

LinearRegression
Model Training Performance
RMSE: 1246.8625316757139
MAE: 823.1802120040313
R2 score 90.80084705648183
===================================


Lasso
Model Training Performance
RMSE: 1246.8396880707073
MAE: 824.5429239597386
R2 score 90.80118412634464
===================================


Ridge
Model Training Performance
RMSE: 1246.853702798372
MAE: 823.4137753623002
R2 score 90.80097733211907
===================================


ElasticNet
Model Training Performance
RMSE: 1634.6144837066327
MAE: 1089.024823930606
R2 score 84.18965394705695
===================================

In [127]:
r2_list

[0.9080084705648183,
 0.9080118412634464,
 0.9080097733211907,
 0.8418965394705695]